@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  width: 50vw;
  box-sizing: border-box;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #F55A5A;
  width: 100%;
  padding: 1em;
  margin: 0;
  text-align: center;
  color: white;
  border-radius: 2px;
}

#location-country {
  letter-spacing: 7px;
  text-transform: uppercase;
}

a {
  color: #918E9B;
  letter-spacing: 1px;
  text-transform: none;
}

.destination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 1px solid #F5F5F5;
}

.destination-container:last-child {
  border-bottom: none;
}

#destination-info {
  margin-left: 1.25em;
  width: 35em;
}

#destination-image img {
  width: 8em;
  height: 10.5em;
  margin: 1em;
  border-radius: 5px;
  object-fit: cover;
}